.App {
  text-align: center;
  padding: 20px;
}

.file-columns {
  display: flex;
  justify-content: space-around;
}

.file-column {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.file-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

input[type='file'] {
  display: none;
}
